@model Product

<div class="row">
    <div class="col-6">
        <img class="card-img-top" src="@Model.ImagePath" alt="Image"/>
    </div>

    <div class="col-6">
        <h5>@Model.Name</h5>
        <h5>@Model.Cost $</h5>
        <h5>@Model.Descpirtion</h5>
        <a class="btn btn-dark" href="/cart/add?productId=@Model.Id" role="button">Add to my cart</a>
        <a class="btn btn-dark" href="/home/index" role="button">Return</a>
    </div>
</div>
